<div class="container">
  <h1>{{ title() }}</h1>
  
  <h2>Response Tracking</h2>
  <table class="tracking-table">
    <thead>
      <tr>
            <div *ngFor="let key of objectKeys(item.response!.a)" class="response-row">
        <th>Item</th>
              <ng-container *ngIf="isArray(item.response!.a[key]); else notArray">
                {{ item.response!.a[key].join(', ') }}
              </ng-container>
              <ng-template #notArray>
                {{ item.response!.a[key] }}
              </ng-template>
            </div>
          </div>
          <ng-template #noResponse>
            <em>No data received</em>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>