<div class="container">
  <h1>{{ title() }}</h1>
  
  <h2>Response Tracking</h2>
  <table class="tracking-table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Status</th>
        <th>Timer</th>
        <th>Response Data</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of responseItems">
        <td class="item-name">{{ item.name }}</td>
        <td class="status" [ngClass]="{'received': item.status === 'Received', 'waiting': item.status === 'Waiting...'}">
          {{ item.status }}
        </td>
        <td class="timer">
          <span *ngIf="item.timer > 0">{{ item.timer }}s</span>
          <span *ngIf="item.timer === 0 && item.response">-</span>
        </td>
        <td class="response-data" [ngClass]="{'highlight': item.highlight}">
          <div *ngIf="item.response?.a; else noResponse" class="response-content">
            <div *ngFor="let key of objectKeys(item.response.a)" class="response-row">
              <strong>{{ key }}:</strong>
              <ng-container *ngIf="isArray(item.response.a[key]); else notArray">
                {{ item.response.a[key].join(', ') }}
              </ng-container>
              <ng-template #notArray>
                {{ item.response.a[key] }}
              </ng-template>
            </div>
          </div>
          <ng-template #noResponse>
            <em>No data received</em>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>